.heading{
   padding-left: 40px;
}

.contact-form-container{
  padding-left: 40px;
  
}

.input{
  height: 30px;
  margin-right: 20px;
  border-radius: 5px;
  border-color: black;
  border-style: thin;
  padding: 10px;
  width: 30%;
  
}

.button{
  height: 55px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  border-width: 0px;
  width: 138px;
}

.table-header{
    width: 80%;
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: blue; */
    

}

.table-header-cell{
  width: 50%;
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 40px;
  margin-bottom: 0px;
  background-color: bisque;
  padding-top: 20px; 
  padding-left: 20px;
  font-weight: bold;
  
}


