


.resume-profile-image{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.resume-profile-section{
    color: black;
    font-family: "Roboto";
    
}

.resume-profile-section-heading{
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: "Roboto";
}

.resume-profile-section-description{
    font-size: 16px; 
    color: black;
    font-family: "Roboto";  
}