.bg-container{
    background-image: url("https://23fb88ad5ca22a1b4d32-e1951aed44f4258f5fd1721b94cf0277.ssl.cf5.rackcdn.com/cdn_mBFfaFY640SA2iY3QipDC79x8vFFK_w2.jpg");
    height: 100vh;
    background-size: cover;
}