.data-container{
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;
    padding: 20px;
}
.img-logo{
    height: 100px;
    width: 100px;
    
}

.heading{
    color: mediumseagreen;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;

}

.description{
    color: mediumorchid;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    padding: 2px;
}