.header-container{
    text-align: center;
    background-color: bisque;
    padding: 30px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

.home{
    padding: 10px;
    margin: 10px;
    color: blueviolet;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    text-decoration: none
    
}


.blog-heading{
    color: mediumseagreen;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: bold; 
}

.list{}